<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Абсолютбанк</key>
	<dict>
		<key>_mapURL</key>
		<string>https://goo.gl/maps/f82FE</string>
		<key>address</key>
		<string>Минск, пр. Независимости, 95</string>
		<key>bankName</key>
		<string>Абсолютбанк</string>
		<key>monThuWorkTime</key>
		<string>9:00 - 16:00</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 17 237-07-02</string>
		<key>friWorkTime</key>
		<string>9:00 - 15:00</string>
		<key>site</key>
		<string>www.absolutbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Альфа-Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>https://goo.gl/maps/ioLVW</string>
		<key>address</key>
		<string>г. Минск, ул. Мясникова, 70</string>
		<key>bankName</key>
		<string>Альфа-Банк</string>
		<key>monThuWorkTime</key>
		<string>8:30 - 17:30</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>198</string>
		<key>friWorkTime</key>
		<string>8:30 - 16:15</string>
		<key>site</key>
		<string>www.alfabank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БПС-Сбербанк</key>
	<dict>
		<key>_mapURL</key>
		<string>https://goo.gl/maps/N5AKc</string>
		<key>address</key>
		<string>б-р им. Мулявина, 6</string>
		<key>bankName</key>
		<string>БПС-Сбербанк</string>
		<key>monThuWorkTime</key>
		<string>9:00 - 17:20</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>148</string>
		<key>friWorkTime</key>
		<string>9:00 - 16:00</string>
		<key>site</key>
		<string>www.bps-sberbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БТА Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>https://goo.gl/maps/FjPFK</string>
		<key>address</key>
		<string>г. Минск, ул. В. Хоружей, 20</string>
		<key>bankName</key>
		<string>БТА Банк</string>
		<key>monThuWorkTime</key>
		<string>9:00 - 16:15</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 17 334 54 34</string>
		<key>friWorkTime</key>
		<string>9:00 - 15:15</string>
		<key>site</key>
		<string>www.btabank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БелАгроПромБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Белагропромбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>136</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.belapb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БелВЭБ</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>БелВЭБ</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 209-29-44</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.bveb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БелГазпромБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Белгазпромбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>120</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.belgazprombank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БелИнвестБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Белинвестбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>146</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.belinvestbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БелСвиссБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Белcвиссбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 306-20-40</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.bsb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БелСвиссБанк, РКЦ №1, РїР». РЎРІРѕР±РѕРґС‹, 23</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Белсвиссбанк, РКЦ №1</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>3333***333</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>***site***</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>БеларусБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Беларусбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>147</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>belarusbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Белорусский Банк Малого Бизнеса</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>ББМБ</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 385 22 14</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.bbsb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Белорусский Народный Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Белорусский Нородный Банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 309 73 09</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.bnb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ВТБ Беларусь</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Банк ВТБ</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 309-15-15</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.vtb-bank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Дельта Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>Дельта Банк</string>
		<key>bankName</key>
		<string>Дельта Банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 279 02 79</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>deltabank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ЕвроБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Евробанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 259-61-17</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.eurobank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ЕвроТоргИнвестБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Евроторгинвестбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 262-11-11</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>etib.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Идея Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Идея Банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 306-33-14</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>ideabank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ИнтерПэйБанк (Кредэксбанк)</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>ИнтерПэйБанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>8-801-100-60-00</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>ipaybank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>МТБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>МТБанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 229-99-99</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.mtbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Москва-Минск Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Банк Москва-Минск</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>186</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.mmbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Паритетбанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Паритетбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 237-76-85</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.paritetbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ПриорБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Приорбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 289-92-92</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.priorbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>РРБ-Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>РРБ-Банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 306-02-02</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.rrb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ТК Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>ТК банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 312-10-12</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.tcbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ТехноБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Технобанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 283-28-28</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>tb.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ТрастБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Трастбанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>8 801 100 33 33</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.trustbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>ФрансаБанк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Франсабанк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 389-36-36</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.fransabank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Хоум Кредит Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>адрес</string>
		<key>bankName</key>
		<string>Хоум Кредит Банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 229-89-89</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.homecredit.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
	<key>Цептер Банк</key>
	<dict>
		<key>_mapURL</key>
		<string>tempURL</string>
		<key>address</key>
		<string>***temp-address***</string>
		<key>bankName</key>
		<string>Цептер Банк</string>
		<key>monThuWorkTime</key>
		<string>monThu</string>
		<key>otherWorkTime</key>
		<string>tempOtherWorkTime</string>
		<key>phoneNumber</key>
		<string>+375 (17) 331-89-49</string>
		<key>friWorkTime</key>
		<string>sat</string>
		<key>site</key>
		<string>www.zepterbank.by</string>
		<key>sunWorkTime</key>
		<string>sun</string>
	</dict>
</dict>
</plist>
